// Заголовки, общие БЄМ блоки и проче...
.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.title {
    color: $mainColor;
    @include adaptiveValue("font-size", 48, 30);
    font-family: Gilroy;
    font-weight: 300;
    line-height: 1.1;
    &__services {
        margin-bottom: rem(30);
    }
    &__works {
        @include adaptiveValue("margin-bottom", 64, 25);
    }
    &__sale {
        max-width: rem(786);
        margin-bottom: rem(20);
    }
    &__contacts {
        margin-bottom: rem(30);
    }
}

.padding-0 {
    padding: 0;
}
