.works {
    padding: 6vh 0;

    // .works__items

    &__items {
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(4, 1fr);
        gap: 20px;
        grid-template-areas:
            "img1 img2 img3 img3"
            "img4 img4 img3 img3"
            "img4 img4 img5 img6";
        @media (max-width: $tablet) {
            grid-template: repeat(6, 1fr) / repeat(2, 1fr);
            grid-template-areas:
                "img1 img2"
                "img3 img3"
                "img3 img3"
                "img4 img4"
                "img4 img4"
                "img5 img6";
        }
        @media (max-width: $mobileSmall) {
            grid-template: repeat(6, 1fr) / 1fr;
            grid-template-areas:
                "img1"
                "img2"
                "img3"
                "img4"
                "img5"
                "img6";
        }
    }

    // .works__item

    &__item {
        &:nth-child(1) {
            grid-area: img1;
        }
        &:nth-child(2) {
            grid-area: img2;
        }
        &:nth-child(3) {
            grid-area: img3;
        }
        &:nth-child(4) {
            grid-area: img4;
        }
        &:nth-child(5) {
            grid-area: img5;
        }
        &:nth-child(6) {
            grid-area: img6;
        }
    }

    // .works__image-ibg

    &__image-ibg {
        padding: 0px 0px 100% 0px;
    }
}
